<a href='/user-dashboard' class='bi bi-arrow-left-circle-fill' style='font-size: 1.5rem;'>Go back to dashboard</a>
<p> Description: <%= @product.description %> </p>
<p> Quantity left: <%= @product.quantity %> </p>

<form action='/product/books/<%= @product.id %>' method='post'>
  <label for='quantity'>Quantity to book: </label>
  <input type='number' name='quantity' min=1 max='<%= @product.quantity %>' value=0  required/>
  <br /><br />

  <label for='booking_date'>Start book product on: </label>
  <input type='date' name='booking_date' value='<%= Date.today.strftime("%A %-d %B")%>' required/>

  <br /><br />
  <label for='return_date'>Return product on: </label>
  <input type='date' name='return_date' value='<%= Date.today.strftime("%A %-d %B") %>' required />

  <br /><br />
  <input type='submit' value='Book Product' />
</form>
