<h1>Welcome to your profile, <%=current_user.full_name%> </h1>

</p> Go back to <a href='/'> Home </a> </p>
<a href='/products'>Book a product from the inventory</a>

<br />
Booked items
<% if @bookings.empty? %>
  <p> No products booked. </p>
  <% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Booked on</th>
        <th>Return by</th>
        <th>Status</th>
      </tr>
    </thead>
      <tr>
        <% @bookings.each do |booking| %>
          <td><%= booking.product.title %></td>
          <td><%= booking.quantity %></td>
          <td><%= booking.booking_date.strftime('%d-%m-%Y') %></td>
          <td><%= booking.return_date.strftime('%d-%m-%Y')%></td>
          <td><%= booking.booking_status %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<form action='/sign-out' method='post'>
  <input type='submit' value='Sign Out' />
</form>
