<a href='/' class='bi bi-arrow-left-circle-fill' style='font-size: 1.5rem;'>Go back to Home</a>

<h1 class='text-center'><%=current_user.full_name%>'s Booking Dashboard</h1>

<br>
<a href='/products'> <h3 class='text-center'>Book a product from the inventory </h3></a>

<br />
<h4><strong>Booked items</strong></h4>
<% if @bookings.empty? %>
  <p> No products booked. </p>
  <% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Booked on</th>
        <th>Return by</th>
        <th>Status</th>
      </tr>
    </thead>
      <tr>
        <% @bookings.each do |booking| %>
          <td><%= booking.product.title %></td>
          <td><%= booking.quantity %></td>
          <td><%= booking.booking_date.strftime('%d-%m-%Y') %></td>
          <td><%= booking.return_date.strftime('%d-%m-%Y')%></td>
          <td><%= booking.booking_status %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<form action='/sign-out' method='post'>
  <input type='submit' value='Sign Out' />
</form>
